@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    min-height: 100vh;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

td {
    padding-inline: 0;
}
